h1 {
  font-family: 'Titillium Web', sans-serif;
}
.rbc-month-view {
  min-height: 800px;
  height: auto;
}
.rbc-event {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  background-color: #ee6859;
  opacity: .6;
}
.rbc-event.rbc-selected{
  background-color: #ee5f4f;
  opacity: .3; 
}
.rbc-today {
  background-color: #ff867a;
  opacity: .2;
}
.rbc-btn-group {
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 10%, #ee6859 78%, #ee5f4f 100%);
}
.rbc-toolbar button{
  font-family: 'Nunito', sans-serif;
  color:white;
}
.rbc-toolbar button:hover{
  cursor: pointer;
  opacity: .5;
}
.rbc-toolbar .rbc-toolbar-label{
 font-family: 'Nunito', sans-serif;
 text-align: right;
}
.rbc-row-segment {
  min-width: 14.29%;
}


.ReactModal__Content {
	/*width: 40vw;*/
}