.jumbotron {
    width: 100%;
    background-image: url("./splash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-fluid {
    padding:0!important;
}