.athletes_list {
	display: block;
<<<<<<< Updated upstream
	margin-top: 20px;
=======
	margin-top: 6rem;
>>>>>>> Stashed changes
}

.user_prog_btn_group {
	display: block;
	text-align: right;
}
.prog-btn {
	display: inline-block;
	width : 100px;
	height : 40px;

	border-radius : 3px;
	box-shadow : 1px 1px 10px grey;
	text-align : center;
	margin : 10px;

	font-size: 1rem;
	color: white;

	background-image: -webkit-linear-gradient(left, #ff8177 0%, #ff867a 10%, #ee6859 78%, #ee5f4f 100%);
	background-image: -o-linear-gradient(left, #ff8177 0%, #ff867a 10%, #ee6859 78%, #ee5f4f 100%);
	background-image: linear-gradient(to right, #ff8177 0%, #ff867a 10%, #ee6859 78%, #ee5f4f 100%);
}

.prog-btn:hover {
	color: black;
}

.accordion__title {
	font-family: Nunito, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    /*display: table;*/
}
