.addProgram_validation {
	color: #ee6859;
}

.form input {
	padding: 5px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.program_input {
	display: block;
	margin-bottom: 10px;
	width: 50%;
}

.DateInput {
    border: 2px solid #ee6859;
}

#end_date_id, #start_date_id {
	width: 85%;
}

.CalendarDay__selected, 
.CalendarDay__selected:active, 
.CalendarDay__selected:hover {
    background: #ee6859;
    /*#00a699;*/
    border: 1px solid #ee6859;
    /*#00a699;*/
    color: #fff;
}
.CalendarDay__selected_span,
.CalendarDay__selected_span:active {
    background: #ebbbb5;
    /*#66e2da;*/
    border: 1px solid #ee6859;
    /*#33dacd;*/
    color: #fff;
}
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: #ebbbb5;
  /*#b2f1ec;*/
  border: 1px solid #ee6859;
  /*#80e8e0;*/
  color: white;
  /*#007a87*/
}

.CalendarDay__selected_span:hover {
    background: #ee6859;
    border: 1px solid #ee6859;
    color: #fff;
}

.DateInput_input{
    font-family: 'Nunito', sans-serif;
}
.DateInput_input__focused {
    outline: 0;
    background: #fff;
    border: 0;
    border-top: 0;
    border-right: 0;
    /*#008489;*/
    border-left: 0;
}
.DayPickerKeyboardShortcuts_show__bottomRight {
    border-top: 26px solid transparent;
    border-right: 33px solid #ee6859;
    /*#00a699;*/
    bottom: 0;
    right: 0;
}

.add-program{
    margin-top: 8rem;
    margin-bottom: 35rem;
}

.form-group, .program-button {
    font-family: 'Nunito', sans-serif;
}

.DateRangePickerInput_arrow {
    padding-left: 1rem;
    padding-right: 1rem;
    
}
