.athlete-page
{
    padding-top: 8rem;
    width: 635px;
    margin-bottom: 20px;
}

.left-column
{
    float: left;
    width: 200px;
    text-align: center;
    margin-right: 20px;
}

.photo
{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.PhotoOptions
{
    text-align: center;
    width: 200px;

}

.my-name{
font-family: 'Titillium Web', sans-serif;
}

p {
font-family: 'nunito', sans-serif; 
}