.athlete-page
{
    margin-top: 8em;
    max-width: 8em;
    margin-left: auto;
    margin-right: auto;
    color: #444;
    font-weight: 300;
    line-height: 1;
    text-align: center;   
    border-radius: 2rem; 
}

.left-column
{
    float: left;
    width: 200px;
    text-align: center;
    margin-right: 20px;
}

.my-name, .edit-title{
font-family: 'Titillium Web', sans-serif;
}

p, #isCoach, .form {
font-family: 'nunito', sans-serif; 
}

.icon {
    color: #ee6859;
}

.rounded-circle {
    margin-top: -6rem;
    border: .3em solid white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1)
}

hr {
    width: 20rem;
}

.edit-profile a {
    color: #444;
}

.profile-widget{
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
    max-width: 20rem;
}

.weather, .countdown, .miles{
    border-radius: 3px;
}
  