.logo-google {
  width: 30px;
  height: 30px;
  /*margin-bottom: -7px;*/
}
.login {
  font-size: 23px;
}
.nav-item, .nav-item:hover{
	margin-bottom: 0px;
	padding: 10px;
}

.nav-item span:hover {
	color: black;
}