.program-list {
    max-width: 30rem;
    margin-left: 5rem;
    text-align: left;
    font-family: 'Nunito', sans-serif;
  }

h2 {
  font-family: 'Titillium Web', sans-serif;
}

.list-overflow-container li a {
  color: #ee6859;
}

.list-overflow-container li a:hover {
  color: #ff867a;
  text-decoration: underline;
}

.programs-title {
  margin-left: 5rem;
}