.program-list {
    width: 30rem;
    margin-left: 0;
    text-align: left;
  }

h2 {
  font-family: 'Titillium Web', sans-serif;
}

.list-overflow-container li a {
  color: #ee6859;
}

.list-overflow-container li a:hover {
  color: #ff867a;
  text-decoration: underline;
}

.list-group-item, .created, .subscribed{
  margin-left: 5rem;
  font-family: 'Nunito', sans-serif;
}