.nav-item {
    font-family: 'Titillium Web', sans-serif;
    height: 50px;
}

div.greeting {
	display: inline-block;
  padding-right: 20px;
  padding-top: 10px;
  font-family: 'Titillium Web', sans-serif;
  height: 50px;
  color: white;
}

.nav-item a {
  padding-bottom: .2rem;
  color: white;
}

.nav-item a:hover {
  border-bottom: .1rem solid white;
  text-decoration: none;
  cursor: pointer;
}
