path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}

.us-state-map {
  width: 100%;
  height: auto;
}

.dropdown {
  width: 75%
}

.searchPosition {
  margin-bottom: 50px;
}

.searchByState-msg span{
	color : #f06e64;
	font-weight: bold;
	margin-right: 10px;
	margin-left: 10px;	
}